<form action="/category" method="post" class="flex flex-col w-40 text-center">
  <label for="categoryName">Category Name:</label>
  <input class="border" type="text" name="categoryName" id="categoryName" />
  <button class="">Add New Category</button>
</form>
