<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Inventory App</title>
  </head>
  <body>
    <a href="/category" class="underline text-blue-600">Go To Categories</a>
    <div class="text-5xl">hey</div>
  </body>
</html>
